html {
    background: transparent;
    font-size: 100%;
}

body {
    padding: 20px;
    font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
    color: #333;
}

h1 {
    margin: 0;
    color: #666;
}

#photos li {
    list-style-type: none;
    display: inline-block;
    position: absolute;
    z-index: 500;
}