html {
    background: #333;
    font-size: 100%;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
    color: #333;
    min-height: 100%;
    overflow: hidden;
}

h1 {
    margin: 20px 0 0 20px;
    color: #666;
    position: absolute;
    z-index: 1000;
    background: #fff;
}

form {
    position: absolute;
    z-index: 1000;
    background: #fff;
    margin: 70px 0 0 20px;
}

#photos li {
    list-style-type: none;
    display: inline-block;
    position: absolute;
    z-index: 500;
    opacity: 0;
    box-shadow: 0 0 2px 0 #000;
    padding: 0;
}

#photos li img {
    border: #fff 2px solid;
    margin: 0;
    display: block;
}